

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.name{
    color: white; 
    text-decoration: none;
    font-size: 30px;
    
}
.name:hover{
    font-size: 35px;
    
}

.logoGit{
    width: 75px;
    height: 75px;
    margin:15px;
    color: white;
    border: solid;
    border-width: 2px;
    border-radius: 50%;
    background-color: white;
}

.logoGit:hover{
    border-width: 4px;
}